<ion-header>
  <ion-toolbar>
    <ion-title>
      Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Name" [(ngModel)]="contactName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Phone" [(ngModel)]="contactPhone"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Email" [(ngModel)]="contactEmail"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="addContact()" [disabled]="!contactName || !contactPhone || !contactEmail">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;Add Contact
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
  <ion-card *ngFor="let contact of contacts">
    <span *ngIf="!contact.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{contact.Name}}</ion-card-title>
        <ion-card-subtitle>Phone Number: {{contact.Phone}}</ion-card-subtitle>
        <ion-card-subtitle>Email: {{contact.Email}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button shape="round" color="secondary" size="small" (click)="editContact(contact)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="removeContact(contact.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="contact.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateContact(contact)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="contact.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Phone</strong></ion-label>
          <ion-input type="text" [(ngModel)]="contact.EditPhone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Email</strong></ion-label>
          <ion-input type="text" [(ngModel)]="contact.EditEmail"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>
 
</ion-content>